@import "../../index.css";

.form-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input {
  margin: 1rem 0;
  padding: 1rem;
}

.inputText {
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.inputText::placeholder {
  color: #fff;
}

.inputText:focus {
  outline: none;
  border-color: #655989;
  background: rgba(255, 255, 255, 0.54);
}


.input label {
  display: block;
  font-weight: bold;
  margin: 0.5rem 0;
}

/* .input input {
  font: inherit;
  display: block;
  width: 50%;
  border: 1px solid #ccc;
  background-color: #ccc;
  padding: 0.15rem;
  margin: 0.5rem 0;
} */

.input input:focus {
  outline: none;
  border-color: #4f005f;
}

@media screen and (max-width: 40rem) {
  .form-container {
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
    padding-bottom: 1rem;
  }

  .input input {
    width: 100%;
  }
}
