.button {
  font: inherit;
  border: 1px solid #655989;
  background: #655989;
  color: #fff;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: #fff;
  border-color: #b2acc4;
  transform: translateY(-2px);
  color: #655989;
}

.button:focus {
  outline: none;
}
